HIKVISION_USER=admin
HIKVISION_PASS=+79855160728T
HIKVISION_TOP_IP=192.168.1.104
HIKVISION_FRONT_IP=192.168.1.105
HIKVISION_RTSP_PORT=554
HIKVISION_TOP_CHANNEL=101
HIKVISION_FRONT_CHANNEL=101
HIKVISION_CAPTURE_INTERVAL=3
HIKVISION_CAPTURE_DURATION_MIN=90
HIKVISION_PREVIEW=0
HIKVISION_CROP_TOP=0
HIKVISION_CROP_BOTTOM=0
HIKVISION_CROP_LEFT=0
HIKVISION_CROP_RIGHT=0
HIKVISION_JPEG_QUALITY=85
HIKVISION_ARCHIVE_AFTER_CAPTURE=1
HIKVISION_ARCHIVE_REMOVE_ORIGINALS=0

