fastapi==0.115.2
opencv-python==4.10.0.84
passlib[bcrypt]==1.7.4
pydantic-settings==2.5.2
python-dotenv==1.0.1
python-jose[cryptography]==3.3.0
python-multipart==0.0.9
pymodbus==3.5.3
psycopg[binary]==3.2.12
SQLAlchemy==2.0.36
uvicorn[standard]==0.30.6
pytest==8.3.3
pytest-asyncio==0.24.0
httpx==0.27.2




